{% load static %}

<a href="/">
    <img id="tape" src="{% static 'images/footer-text.png' %}" alt="">
</a>

<br>
<br>

<img id="arrow" src="{% static 'images/arrow.png' %}" alt="Image of a hand-drawn arror">

<div>    
    <div>
        <a href="mailto:hole.recording.gruppe@gmail.com">hole.recording.gruppe@gmail.com</a>
    </div>
    <div>
        <a href="https://hole-recording-gruppe.bandcamp.com">hole-recording-gruppe.bandcamp.com</a>
    </div>
    <div>
        <a href="https://www.instagram.com/holerecordinggruppe/">instagram.com/holerecordinggruppe</a>
    </div>
    <div>Portland, Oregon, USA</div>
    <div>
        <span>&copy; {% now 'Y' %}</span>
    </div>
</div>