{% load static %}

<div id="footer">
    <img id="tape" src="{% static 'images/tape.png' %}" alt="">

    <div>
        <div>Portland, Oregon, USA</div>
        <div>
            <a href="mailto:hole.recording.gruppe@gmail.com">hole.recording.gruppe@gmail.com</a>
        </div>
        <div>
            <a href="https://hole-recording-gruppe.bandcamp.com">hole-recording-gruppe.bandcamp.com</a>
        </div>
        <div>
            <span>&copy; {% now 'Y' %}</span>
        </div>
    </div>
</div>