$maize: white; //#FCE762;
$dark-grey: #333;
$light-grey: #777;
$break-point: 770px;

html {
    font-family: monospace;
    color: $dark-grey;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $maize;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    font-size: 16px;

    @media (max-width: $break-point) {
        width: 96%;
    }

    #header {
        width: 100%;

        a#sneaky-link {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            height: 100px;
            
        }

        img {
            &#hrg-logo {
                width: 100%;
                display: block;
                margin: auto;
            }
        }
    }

    h1 {
        color: $dark-grey;

        &.not-active {
            color: $light-grey;
        }
    }

    #footer {
        display: block;
        margin: 60px auto;
        padding-bottom: 100px;

        #tape {
            width: 100%;
        }

        #arrow {
            max-height: 100px;
            transform: scaleX(-1);
            margin-left: 50px;
            margin-bottom: 24px;
        }
    }
}

#release {
    .media {
        display: flex;
        justify-content: space-between;
        margin: 24px auto;

        @media (max-width: $break-point) {
            display: block;
        }

        #release-images {
            width: 58%;

            @media (max-width: $break-point) {
                display: block;
                width: 100%;
            }

            img {
                display: inline-block;
                max-height: 100px;
                cursor: pointer;

                &.selected {
                    display: block;
                    max-width: none;
                    max-height: none;
                    width: 100%;
                    margin-bottom: 16px;
                    cursor: inherit;
                }

                &.loading {
                    display: none;
                }
            }
        }

        .iframe-wrapper {
            width: 40%;

            @media (max-width: $break-point) {
                display: block;
                width: 100%;
                margin-top: 24px;
            }
        }
    }

    .link-to-purchase {
        a {
            border: solid 2px $dark-grey;
            padding: 12px 18px;
            font-size: 16px;
            font-weight: bold;
        }

        margin-bottom: 48px;
    }

    .content {
        margin: 48px auto;

        @media (max-width: $break-point) {
            margin-top: 24px;
        }
    }
}
