{% extends 'layouts/_layout.html' %}

{% block content %}
<h1>{{ catalog }}</h1>

<div id="release">
    <h1>{{ release }}</h1>
    <div>
        <strong>{{ release.release_date }}</strong>
    </div>

    <div class="content">
        {{ release.info | safe }}
    </div>

    <div class="media">
        <div id="release-images">
            {% for image in release.releaseimage_set.all %}
                <img class="{% if forloop.first %}selected{% endif %}" src="{{ image.image.url }}" alt="">
            {% endfor %}
        </div>

        <div class="iframe-wrapper">
            {{ release.bandcamp_embed | safe }}
        </div>
    </div>
</div>
{% endblock %}