{% extends 'layouts/_layout.html' %}
{% load static %}

{% block content %}
<h1>{{ catalog }}</h1>

<div id="release">
    <h1>{{ release }}</h1>
    <div>
        <strong>{{ release.release_date }}</strong>
    </div>

    <div class="content">
        {{ release.info | safe }}
    </div>

    <div class="media">
        <div id="release-images">
            <img class="selected loading" alt="">

            {% for i in release.image_set.all %}
                <img class="release-image" 
                    src="{{ i.image.url }}" 
                    alt="{{ i.alt_text }}">
            {% endfor %}
        </div>

        <div class="iframe-wrapper">
            {{ release.bandcamp_embed | safe }}
        </div>
    </div>
</div>

<script src="{% static 'scripts/release.js' %}"></script>
{% endblock %}